@charset "utf-8";
/* CSS Document */

/*Resets and overrides*/
html, body, div, h1, h2,h22, h3, h4, h44, h5, h6, h7, h72, h8, h9, h10 p, h12, h13, ul, li, span {
	margin: 0;
	padding: 0;
	line-height: 1;
	margin: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

	}

html, html a {
    -webkit-font-smoothing: antialiased;

	}

/*Font Face Fontello*/
@font-face {
  font-family: 'fontello';
  src: url('fonts/fontello/fontello.eot?11696308');
  src: url('fonts/fontello/fontello.eot?11696308#iefix') format('embedded-opentype'),
       url('fonts/fontello/fontello.woff?11696308') format('woff'),
       url('fonts/fontello/fontello.ttf?11696308') format('truetype'),
       url('fonts/fontello/fontello.svg?11696308#fontello') format('svg');
  	font-weight: normal;
  	font-style: normal;
	font-variant: normal;
	speak: none;
	}

/*Font Face Linecons*/
@font-face {
	font-family: 'linecons';
	src:url('fonts/linecons/linecons.eot');
	src:url('fonts/linecons/linecons.eot?#iefix') format('embedded-opentype'),
		url('fonts/linecons/linecons.ttf') format('truetype'),
		url('fonts/linecons/linecons.woff') format('woff'),
		url('fonts/linecons/linecons.svg#linecons') format('svg');
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
	speak: none;
	}

img {
	border: none;
	}

a, a:link, a:active, a:visited, a:hover {
	text-decoration: none;
	outline: none;
	}

ul {
	list-style-type: none;
	}

body {
	color: #3A3A3A;
	font-family: 'Lato', sans-serif;
	font-size: 18px;
	font-weight: 400;
	}

h2 {

	font-size: 30px;
	font-weight: 700;
	color: #3A3A3A;
	margin: 0 0 21px 0;
	}

h22 {
	opacity: 0.5;
	filter: alpha(opacity=50);
	font-size: 30px;
	font-weight: 700;
	color: #3A3A3A;
	margin: 0 0 21px 0;
	}

h22:hover {
	opacity: 1;
	filter: alpha(opacity=100);
	font-size: 30px;
	font-weight: 700;
	color: #3A3A3A;
	margin: 0 0 21px 0;
	-o-transition-duration: 0.5s;
	-moz-transition-duration: 0.5s;
	-webkit-transition-duration: 0.5s;
	transition-duration: 0.5s
	}

h7 {
	font-size: 30px;
	font-weight: 900;
	color: #666d89;
	margin: 0 0 21px 0;
	}

h72 {
	opacity: 0.5;
	filter: alpha(opacity=50);
	font-size: 30px;
	font-weight: 900;
	color: #666d89;
	margin: 0 0 21px 0;
	}

h72:hover {
	opacity: 1;
	filter: alpha(opacity=100);
	font-size: 30px;
	font-weight: 900;
	color: #666d89;
	margin: 0 0 21px 0;
	-o-transition-duration: 0.5s;
	-moz-transition-duration: 0.5s;
	-webkit-transition-duration: 0.5s;
	transition-duration: 0.5s
	}


h3 {
	font-size: 14px;
	font-weight: 300;
	color: #3A3A3A;
	line-height: 1.6;
	}

h33 {
	font-size: 13px;
	font-weight: 300;
	color: #3A3A3A;
	line-height: 1.6;
	}

h90 {
	font-size: 14px;
	font-weight: 600;
	line-height: 1.6;
	color: #3A3A3A;
	}

h90:hover {
	font-size: 14px;
	font-weight: 600;
	line-height: 1.6;
	color: #0BF397;
	/* background:#0BF397; */
	-o-transition-duration: 0.5s;
	-moz-transition-duration: 0.5s;
	-webkit-transition-duration: 0.5s;
	transition-duration: 0.5s;
	}

h8 {
	font-size: 16px;
	font-weight: 500;
	color: white;
	/* line-height: 5; */
	opacity:0.8;
	/* float:right; */
	}

h9 {
	font-size: 32px;
	font-weight: 800;
	color: #3A3A3A;
	line-height: 2;
	}

h9:hover {
	font-size: 32px;
  font-weight: 800;
  color: #FFFFFF;
  line-height: 2;
	-o-transition-duration: 0.5s;
	-moz-transition-duration: 0.5s;
	-webkit-transition-duration: 0.5s;
	transition-duration: 0.5s

	}


h10 {
	font-size: 16px;
	font-weight: 800;
	color: white;
	line-height: 2.5;
	opacity: 1;
	}


/* h10:hover{
	font-size: 18px;
	font-weight: 500;
	color: #3A3A3A;
	line-height: 2.5;
	opacity: 0.8;
	filter: alpha(opacity=60);
	-o-transition-duration: 0.5s;
	-moz-transition-duration: 0.5s;
	-webkit-transition-duration: 0.5s;
	transition-duration: 0.5s
	} */


h4 {
	font-size: 17px;
	font-weight: 800;
	color: #3A3A3A;
	line-height: 1.3;
	margin: 0 0 10px 0;
	}



h6 {
	font-size: 14px;
	font-weight: 600;
	line-height: 1.6;
	color: #3A3A3A;
	}

p {
	font-size: 14px;
	font-weight: 300;
	line-height: 1.6;
	color: #3A3A3A;
	}

h12 {
	font-size: 16px;
	font-weight: 300;
	line-height: 1.6;
	color: #3A3A3A;
	}

h13 {
	font-size: 16px;
	font-weight: 600;
	line-height: 1.9;
	color: #FFFFFF;
	background:#0BF397;
	}

h13:hover {
	font-size: 16px;
	font-weight: 600;
	line-height: 1.9;
	color: #0BF397;
	background:#FFFFFF;
	-o-transition-duration: 0.5s;
	-moz-transition-duration: 0.5s;
	-webkit-transition-duration: 0.5s;
	transition-duration: 0.5s
	}

h14 {
	font-size: 16px;
	font-weight: 600;
	line-height: 1.9;
	color: #3A3A3A;
	}

h14:hover {
	font-size: 16px;
	font-weight: 600;
	line-height: 1.9;
	color: #FFFFFF;
	background:#0BF397;
	-o-transition-duration: 0.5s;
	-moz-transition-duration: 0.5s;
	-webkit-transition-duration: 0.5s;
	transition-duration: 0.5s
	}

h15 {
	font-size: 14px;
	font-weight: 600;
	line-height: 1.9;
	color: #3A3A3A;
	padding-left: 10px;
	}

h15:hover {
	font-size: 14px;
	font-weight: 600;
	line-height: 1.9;
	color: #0BF397;
	/* background:#0BF397; */
	-o-transition-duration: 0.5s;
	-moz-transition-duration: 0.5s;
	-webkit-transition-duration: 0.5s;
	transition-duration: 0.5s;
	padding-left: 10px;
	}

h16 {
	font-size: 14px;
	font-weight: 600;
	line-height: 1.9;
	color: #0BF397;
	padding-left: 10px;
	}

/* h16:hover {
	font-size: 15px;
	font-weight: 600;
	line-height: 1.9;
	color: #FFFFFF;
	-o-transition-duration: 0.5s;
	-moz-transition-duration: 0.5s;
	-webkit-transition-duration: 0.5s;
	transition-duration: 0.5s;
	padding-left: 10px;
	} */


.left {
	float: left;
	}

.right {
	float: right;
	}

.both {
	clear: both;
	display: block;
	overflow: hidden;
	width: 0;
	height: 0;
	}

.inner {
	margin: 0 auto;
	max-width: 1700px;
	padding: 50px 50px;
	overflow: hidden;
	}

	.innerpro {
		margin: 0 auto;
		max-width: 100%;
		padding: 0px 0px 50px 10px;
		overflow: hidden;
		}

/*===================================
============== Header ===============
===================================*/
#header {
	width: 100%;
	background: #2d303a;
	overflow: hidden;
	border-bottom: 6px solid #323746;
	}

#header .inner {
	padding-top: 34px;
	padding-bottom: 34px;
	}




/*logo*/
h1.logo {
	width: 115px;
	height: 20px;
	background: url(images/logo.png) no-repeat;
	text-indent: -9999px;
	}

h1.logo a {
	display: block;
	height: 100%;
	}

h1.logo:hover {
	height: 20px;
	}

/*Nav Menu*/
ul.nav-menu {
	padding: 9px 0 0 0;
	}

ul.nav-menu li {
	float: left;
	font-size: 12px;
	font-weight: 700;
	color: #494e62;
	text-transform: uppercase;
	}

ul.nav-menu li:before {
  font-family: 'fontello';
	content: "\e804";
	}

ul.nav-menu li:first-child:before {
	content: "\e804";
	color: #2d303a;
	}

ul.nav-menu li:first-child a {
	margin-left: 0px;
	}

ul.nav-menu li:last-child a {
	margin-right: 0px;
	}

ul.nav-menu li a {
	color: #ffffff;
	display: inline-block;
	margin: 0 13px 0 13px;
	}

ul.nav-menu li a:hover {
	color: #0BF397;
	-o-transition-duration: 0.5s;
	-moz-transition-duration: 0.5s;
	-webkit-transition-duration: 0.5s;
	transition-duration: 0.5s;
	}


/* cover */

	#cover {
		background: #0BF397;
		overflow: hidden;
		height: 100%;
		border-bottom: 6px solid #0BF397;
		}

	#cover .inner {
		vertical-align: center;
		position: relative;
		text-align: center;
		width: auto;
		}

	#cover div.inner ul a:hover {
		opacity: 0.6;
		filter: alpha(opacity=60);
		-o-transition-duration: 0.5s;
		-moz-transition-duration: 0.5s;
		-webkit-transition-duration: 0.5s;
		transition-duration: 0.5s;
		}

	#cover body.inner {
		background-attachment: fixed;
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;
		padding-top: 0;
		}


/*===================================
============== Slider ===============
===================================*/
#slider {
	background: #FFFFFF;
	overflow: hidden;
	/* height: 1000px; */
	border-bottom: 6px solid #FFFFFF;
	}

#slider .innerpro {
	vertical-align: center;
	position: relative;
	text-align: left;
	width: 100%;
	}

#slider div.inner ul a:hover {
	opacity: 0.6;
	filter: alpha(opacity=60);
	-o-transition-duration: 0.5s;
	-moz-transition-duration: 0.5s;
	-webkit-transition-duration: 0.5s;
	transition-duration: 0.5s;
	}

#slider body.inner {
	background-attachment: fixed;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	padding-top: 0;
	}





/*===================================
============= Services ==============
===================================*/
#services {
	background: #FFFFFF;
	overflow: hidden;
	border-bottom: 0px solid #ffffff;
	}

#services .inner {
	padding-bottom: 31px;
	}

#services .inner {
	padding-top: 10px;
	}


#services ul {
	padding: 36px 0 0 0;
	}

#services ul li {
	float: left;
	padding: 0 20px 0 0;
	max-width: 320px;
	margin: 0 60px 50px 10px;
	}

#services ul li span {
	float: left;
	width: 0px;
	height: 0px;
	line-height: 40px;
	text-align: right;
	font-size: 30px;
	font-family: 'linecons';
	color: #3A3A3A;
	/* background: transparent;
	-moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -khtml-border-radius: 50%;
	border-radius: 50%;
	border: 1.5px solid #3A3A3A; */
	/* margin: 0 10px 0 0; */
	}

#services ul li:hover span {
	color: #0BF397;
	/* border: 1.5px solid #0BF397; */
	-o-transition-duration: 0.5s;
	-moz-transition-duration: 0.5s;
	-webkit-transition-duration: 0.5s;
	transition-duration: 0.5s;
	}

.li_data:before {
	content: "\e021";
	}

.li_gorro:before {
	content: "\e024";
	}

.li_fab:before {
	content: "\e00a";
	}

.li_pen:before {
	content: "\e00f";
	}

.li_house:before {
	content: "\e02a";
	}

.li_ar:before {
	content: "\e02f";
	}

#services ul li h4 {
	float: right;
	width: 200px;
	}

#services ul li p {
	float: right;
	width: 200px;
	text-align: left;
	}


/*===================================
============= Portfolio =============
===================================*/
#portfolio {
	background: #FFFFFF;
	overflow: hidden;
	border-bottom: 0px solid #FFFFFF;
	}

#portfolio .inner {
	padding-bottom: 50px;
	}

#portfolio .inner h3 {
	margin-bottom: 12px;
	}

#portfolio .inner h33 {
	margin-bottom: 12px;
	}

/*Portfolio Menu*/
#portfolio ul.portfolio-menu {
	width: 100%;
	overflow: hidden;
	}

#portfolio ul.portfolio-menu li {
	float: left;
	display: inline;
	margin: 0 10px 0 0;
	font-size: 14px;
	font-weight: 500;
	/* opacity:0.8; */
	}

#portfolio ul.portfolio-menu li a {
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
	border-radius: 5px;
	border: 1.5px solid #3A3A3A;
	color: #3A3A3A;
	padding: 4px 7px;
	height: 100%;
	display: block;
	/* opacity:0.8; */
	}

#portfolio ul.portfolio-menu li a:hover,
#portfolio ul.portfolio-menu li.current a {
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
	border-radius: 5px;
	border: 1.5px solid #0BF397;
	color: white;
	background: #0BF397;
	-o-transition-duration: 0.5s;
	-moz-transition-duration: 0.5s;
	-webkit-transition-duration: 0.5s;
	transition-duration: 0.5s;
	font-size: 14px;
	font-weight: 500;
	}

/*Portfolio*/
#portfolio ul.portfolio {
	width: 100%;
	padding: 19px 0 0 0;
	}

#portfolio ul.portfolio li {
	float: left;
	display: inline;
	margin: 0 10px 10px 0;
	}

#portfolio ul.portfolio li a {
	height: 100%;
	display: block;
	}

#portfolio ul.portfolio li a:hover {
	opacity: 0.6;
	filter: alpha(opacity=60);
	-o-transition-duration: 0.5s;
	-moz-transition-duration: 0.5s;
	-webkit-transition-duration: 0.5s;
	transition-duration: 0.5s;
	}

#portfolio-project {
	background: #FFFFFF;
	overflow: hidden;
	border-bottom: 0px solid #FFFFFF;
	padding-top: 0px;
	}

#portfolio .inner {
	padding-bottom: 0px;
	}


#portfolio .icon {
	float: left;
	display: inline-block;
	width: 30px;
	height: 30px;
	line-height: 30px;
	margin: 0 10px 0 0;
	background: transparent;
	-moz-border-radius: 50%;
		-webkit-border-radius: 50%;
		-khtml-border-radius: 50%;
	border-radius: 50%;
	border: 1px solid #3A3A3A;
	color: #3A3A3A;
	text-align: center;
	font-size: 18px;
	cursor: pointer;

}

#portfolio .icon:hover {
	border: 1px solid #0BF397;
	color: #0BF397;
	-o-transition-duration: 0.5s;
	-moz-transition-duration: 0.5s;
	-webkit-transition-duration: 0.5s;
	transition-duration: 0.5s;

}



.gal {


	-webkit-column-count: 4; /* Chrome, Safari, Opera */
    -moz-column-count: 4; /* Firefox */
    column-count: 4;


	}
.gal img{ width: 100%; padding: 20px 0px 0px 0px;}
@media (max-width: 500px) {

.gal {

	-webkit-column-count: 1; /* Chrome, Safari, Opera */
  -moz-column-count: 1; /* Firefox */
  column-count: 1;


}

}

.box {
  position: relative;
  width: 100%;
}

.image {
  display: block;
  width: 100%;
  height: 100%;
	transition-duration: 1s;
}

.overlay {
  position: absolute;
  top: 20px;
  bottom: 0;
  left: 0;
  right: 0;
  height: relative;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #0BF397;
}

.box:hover .overlay {
  opacity: 1;
}

.text {
  color: #FFFFFF;
	/* background-color: #0BF397; */
  font-size: 15px;
	font-weight: 550;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
	opacity: 0;
	transition: .5s ease;
	}

.box:hover .text {
  opacity: 1;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #FFFFFF;
    margin: 1em 0;
    padding: 0;
}

/*===================================
============== About ===============
===================================*/
#about {
	background: #FFFFFF;
	overflow: hidden;
	border-bottom: 0px solid #0BF397;
	}
#about .inner {
	padding-bottom: 0px;
	}
#about ul {
	padding: 46px 0 0 0;
	}

#about ul li {
	width: 300px;
	float: left;
	display: inline;
	margin: 10px 50px 20px 60px;
	}

#about ul li:first-child {
	margin-left: 0;
	}

#about .profile div img,
#about .profile div h4,

#about ul li p {
	display: block;
	text-align: center;
	margin: 0 0 20px 0;

	}

#about .profile div h12 {
	display: block;
	text-align: left;
	margin: 0 0 20px 0;

	}

#about .profile div img {
	margin: 0 0 17px 0;
	}

#about .profile div p {
	margin: 0 0 10px 0;
	}


#about .profile div a {
	display: block;

	}
#about .profile .center {
		text-align: center;
		}

#about .profile h6 {
		text-align: center;
		}


#about ul li span {
	font-family: "fontello";
	float: left;
	display: inline-block;
	width: 30px;
	height: 30px;
	line-height: 30px;
	margin: 0 10px 0 0;
	background: transparent;
	-moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -khtml-border-radius: 50%;
	border-radius: 50%;
	border: 1px solid #3A3A3A;
	color: #3A3A3A;
	text-align: center;
	font-size: 16px;
	cursor: pointer;
	}

#about ul li span:hover {
	border: 1px solid #0BF397;
	color: #0BF397;
	-o-transition-duration: 0.5s;
	-moz-transition-duration: 0.5s;
	-webkit-transition-duration: 0.5s;
	transition-duration: 0.5s;
	}

#about .icon {
	float: left;
	display: inline-block;
	width: 30px;
	height: 30px;
	line-height: 30px;
	margin: 0 10px 0 0;
	background: transparent;
	-moz-border-radius: 50%;
		-webkit-border-radius: 50%;
		-khtml-border-radius: 50%;
	border-radius: 50%;
	border: 1px solid #3A3A3A;
	color: #3A3A3A;
	text-align: center;
	font-size: 18px;
	cursor: pointer;

}


#about .icon:hover {
	border: 1px solid #0BF397;
	color: #0BF397;
	-o-transition-duration: 0.5s;
	-moz-transition-duration: 0.5s;
	-webkit-transition-duration: 0.5s;
	transition-duration: 0.5s;

}


.icon-twitter:before { content: '\e802'; }
.icon-facebook:before { content: '\e800'; }
.icon-gplus:before { content: '\e801'; }
.icon-linkedin:before { content: '\e803'; }
.icon-instagram:before { content: '\e900'; }


/*===================================
============= Contact ===============
===================================*/
#contact {
	background: #0BF397;
	overflow: hidden;
	border-bottom: 6px solid #0BF397;
	}

#contact h2,
#contact h3,
#contact h4,
#contact p,
#contact span {
	color: #3A3A3A;
	}

#contact ul {
	padding: 10px 0 0 0;
	overflow: hidden;
	}

#contact ul li {
	float: left;
	display: inline;
	max-width: 300px;
	padding: 0 0 0 10px;
	}

#contact ul li:first-child {
	padding: 0 10px 0 0;
 	max-width: 620px;
	}

form {
	}

input {
	background: #d6564f;
 	max-width: 590px;
 	width: 590px;
	height: 38px;
	line-height: 38px;
	border: 0;
	font-size: 12px;
	color: #f48c8f;
	font-family: 'Lato', sans-serif;
	padding: 0px 15px;
	margin: 0 0 16px 0;
	outline: none;
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
	border-radius: 5px;
	}

textarea {
	background: #d6564f;
	max-width: 590px;
	width: 590px;
	height: 202px;
	max-height: 202px;
	border: 0;
	padding: 15px;
	margin: 0 0 16px 0;
	outline: none;
	overflow: auto;
	resize: none;
	font-size: 12px;
	color: #f48c8f;
	font-family: 'Lato', sans-serif;
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
	border-radius: 5px;
	}

.submitbtn {
	padding: 0;
	margin: 0;
	background: #d6564f;
	overflow: hidden;
	width: 110px;
	height: 38px;
	line-height: 38px;
	cursor: pointer;
	outline: none;
	text-align: center;
	font-size: 14px;
	color: #f48c8f;
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	}

.submitbtn:hover {
	background: #2d303a;
	color: #666d89;
	-o-transition-duration: 0.5s;
	-moz-transition-duration: 0.5s;
	-webkit-transition-duration: 0.5s;
	transition-duration: 0.5s;
	}

#contact p {
	margin: 0 0 16px 0;
	text-align: justify;
	font-size: 16px;
	font-weight: 500;
	color:white;
	}

#contact span {
	display: block;
	font-size: 16px;
	margin: 0 0 6px 0;
	font-weight: 500;
	color:white;
	}

#contact span i {
	font-family: 'fontello';
	margin: 0 10px 0 0;
	font-weight: 500;
	font-style: normal;
	vertical-align: middle;
	font-size: 16px;
	color:white;
	}

#contact span i.li_location {
	font-family: 'linecons';
	}

.li_location:before { content: '\e012'; }
.icon-mail:before { content: '\e806'; }
.icon-phone:before { content: '\e805'; }


/*===================================
============= Footer ================
===================================*/
#footer {
	background: #2d303a;
	overflow: hidden;
	}

#footer .inner {
	padding-top: 22px;
	padding-bottom: 22px;
	}

#footer p {
	color: #666d89;
	}

#footer p a {
	line-height: 32px;
	color: #666d89;
	}

#footer p a:hover {
	color: #0BF397;
	-o-transition-duration: 0.5s;
	-moz-transition-duration: 0.5s;
	-webkit-transition-duration: 0.5s;
	transition-duration: 0.5s;
	}

#footer ul {
	float: right;
	}

#footer ul li span {
	font-family: "fontello";
	float: left;
	display: inline-block;
	width: 30px;
	height: 30px;
	line-height: 30px;
	margin: 0 10px 0 0;
	background: transparent;
	-moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -khtml-border-radius: 50%;
	border-radius: 50%;
	border: 1px solid #6a718c;
	color: #6a718c;
	text-align: center;
	font-size: 16px;
	cursor: pointer;
	}

#footer ul li span:hover {
	border: 1px solid #0BF397;
	color: #0BF397;
	-o-transition-duration: 0.5s;
	-moz-transition-duration: 0.5s;
	-webkit-transition-duration: 0.5s;
	transition-duration: 0.5s;
	}


/*===================================
======= Back To Top  ==============
===================================*/
.go-top {
	position: fixed;
	bottom: 2em;
	right: 2em;
	color: #ffffff;
	background-color: #323746;
	font-size: 12px;
	padding: 1em;
	display: none;
		-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
	border-radius: 5px;
	}

.go-top:hover {
	color: #ffffff;
	background-color: #232732;
	-o-transition-duration: 0.5s;
	-moz-transition-duration: 0.5s;
	-webkit-transition-duration: 0.5s;
	transition-duration: 0.5s;
	}
